body {
    color: green;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 16px;
}
a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: aqua;
}
.center {
    text-align: center;
}
header img{
    border-radius: 50%;
    border: 5px solid violet;
    
}
p {
    color: white;
}
.E-mail {
    color: red;
    padding: 0px 50px;
}
.WhatsApp {
    padding: 0px 50px;
}
.Discord {
    color: blue;
    padding: 0px 50px;
}